/* Common styles for both screens */
body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.hidden-div {
    display: none;
}

.content-loaded {
    overflow: visible;
}

/* Preloader Styles */
nav {
    text-align: center;
    margin-top: 1.25rem; /* 20px */
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 3.125rem; /* 50px */
    margin-left: 3.125rem; /* 50px */
    position: relative;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.4s ease; /* Add transition effect for smooth color change */
}

a::after {
    content: attr(data-text); /* Set the content to the data-text attribute */
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    color: #FFE227; /* Color of the new text */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Add transition effects */
}

nav ul li:hover a {
    color: transparent; /* Make the original text transparent on hover */
}

nav ul li:hover a::after {
    opacity: 1; /* Make the new text visible on hover */
    transform: translateY(-1.875rem); /* Move the new text upwards on hover */
}

section,
footer {
    text-align: center;
    margin: 1.25rem; /* 20px */
    padding: 1.25rem; /* 20px */
}

#welcomeH2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem; /* 20px */
}

/* Add this to your existing CSS file */
/* Add this to your existing CSS file */
/* Add this to your existing CSS file */
/* Add this to your existing CSS file */
/* Add this to your existing CSS file */
#about {
    height: 70vh;
    text-align: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.2rem;
}

.about-content {
    display: flex;
    align-items: stretch;
    gap: 1.25rem; /* 20px */
}

.text-content {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12.5rem; /* 200px */
    padding-right: 12.5rem; /* 200px */
}

#name {
    display: inline;
    margin: 0;
    color: yellow;
}

p {
    color: white;
    margin: 1.25rem 0; /* 20px */
}

#about-Paragraph {
    margin-bottom: 1.8rem;
}

#downloadButton {
    font-weight: bold;
    height: 2.5rem; /* 40px */
    width: 12.5rem; /* 200px */
    background-color: #FFE227;
    color: black;
    padding: .8rem 1rem; /* 12px 24px */
    border: none;
    cursor: pointer;
    border-radius: 0.625rem; /* 10px */
}

#downloadButton:hover {
    background-color: #FFD100;
}

#downloadButton:active {
    transform: translateY(0.125rem); /* 2px */
}

.image-container {
    flex: 5; /* Move the image container to the right */
    max-width: 25rem; /* 400px */
    /* Adjust the padding-left value as needed */
    padding-right: 12.5rem; /* Adjust the padding-right value as needed */
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Make the image round */
    border: 0.25rem solid #FFE227; /* Initial border color for the image */
    transition: border-color 0.3s ease; /* Add transition effect */
}

#projects {
    height: fit-content;
    text-align: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.2rem;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    text-align: center;
    padding: 4.0625rem; /* 65px */
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s ease, transform 0.5s ease; /* Add transition for smooth color change and animation */
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    border-radius: 50%;
    animation: slideIn 0.5s ease; /* Apply the slide-in animation */
}

.box:hover {
    border: 0.125rem solid #FFE227; /* 2px */
    transform: translateY(-0.3125rem); /* -5px */
}

/* @keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
} */

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-3.125rem); /* -50px */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#project-details {
    display: none;
    border: 0.125rem solid #FFFFEC; /* 2px */
    color: #C6A969;
    padding: 1.25rem; /* 20px */
    text-align: center;
    margin: 0 auto;
    margin-top: 3.125rem; /* 50px */
    max-width: 40.625rem; /* 650px */
    /* Adjust the maximum width as needed */
    animation: fadeInFromTop 0.5s ease; /* Apply the fade-in animation */
}

.box i {
    font-size: 1.7rem; /* Adjust the size as needed */
}

.box h5 {
    color: #FFE227;
}

#contact {
    text-align: center;
    padding: 1.25rem; /* 20px */
    font-size: 1.2rem;
    margin-top: 1.25rem; /* 20px */
}

.tabs {
    flex-direction: column; /* Adjusted to column for smaller screens */
    align-items: center; /* Centered content for smaller screens */
    margin-top: 3.4375rem; /* 55px */
}

#part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#phone,
#email,
#location {
    height: auto; /* Adjusted for responsive height */
    width: 25rem;
    /* Adjusted width for smaller screens */
    border-radius: 0.5rem; /* 8px */
}

#github,
#linkedin,
#instagram {
    padding: 1.25rem; /* Adjusted padding for smaller screens */
    font-size: 1.25rem; /* 20px */
}

.social-icons {
    flex-direction: column; /* Adjusted to column for smaller screens */
    align-items: center; /* Centered content for smaller screens */
}

#phone,
#email,
#location {
    transition: border-color 0.3s ease;
}

#phone:hover,
#email:hover,
#location:hover {
    border: 0.125rem dotted #FFE227; /* 2px */
}

#github,
#linkedin,
#instagram {
    transition: border-color 0.3s ease;
    border-radius: 50%;
    padding: 1.875rem; /* 30px */
    font-size: 1.875rem; /* 30px */
}

#github:hover,
#linkedin:hover,
#instagram:hover {
    border: 0.125rem solid #FFE227; /* 2px */
}
